

@media screen and (max-width : 920px) {


}

@media screen and (max-width: 600px) {

}


/*fondo de header*/







.grayclair{
	background-color: #CDCDCD;
}

button{
	margin-top: 4%;
	margin-bottom: 5%;

}


input{
	
}
